#version=DEVEL
ignoredisk --only-use=vda

# Partition clearing information
clearpart --none --initlabel

# Use text install
text

# Use CDROM installation media
cdrom

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --lock root

# Run the Setup Agent on first boot
firstboot --enable

# System services
services --enabled="chronyd"

# System timezone
timezone America/New_York --isUtc

# Setup User
user --groups=wheel --name=admin --password=admin
sshkey --username=admin {{ ssh_public_key }}

# Disk partitioning information
part pv.263 --fstype="lvmpv" --ondisk=vda --size=29695
part /boot --fstype="ext4" --ondisk=vda --size=1024
volgroup fedora --pesize=4096 pv.263
logvol / --fstype="xfs" --size=22519 --name=root --vgname=fedora
logvol /home --fstype="xfs" --size=5120 --name=home --vgname=fedora
logvol swap --fstype="swap" --size=2048 --name=swap --vgname=fedora

%packages
@^custom-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
